openapi: 3.1.0
info:
  title: GoBoard API
  contact:
    name: GoBoard Support
    url: https://goboard.com/
    email: help@goboard.com
  license:
    name: Apache
    url: http://apache.org/licenses/LICENSE-2.0.html
  description: |
    # Introduction
    This API is documented in **OpenAPI format**.
    # Authentication
      - Access-Token
  x-logo:
    url: https://goboard.com/home/assets/images/goboard-logo.svg
    altText: GoBoard API
  version: 1.0.0

tags:
  - name: Custom configure
  - name: API Methods Default

servers:
  - url: https://us-central1-tms-board.cloudfunctions.net
    description: Server Custom configure
  - url: https://developer.goboard.com/api/v1.0.0
    description: Server API Methods Default

security:
  - access_token: []

components:
  securitySchemes:
    access_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Token to authorize the API."

paths:
  /token:
    $ref: ./controllers/FirebaseAuth/CreateCustomToken.yml#/CreateCustomToken
  /room/configure:
    $ref: ./controllers/FirebaseAuth/RoomConfigured.yml#/RoomConfigured
  /export/pdf:
    $ref: ./controllers/apiMethodsDefault/ExportPdf.yml#/ExportPdf
  /board/join:
    $ref: ./controllers/apiMethodsDefault/JoinBoard.yml#/JoinBoard
  /board/register:
    $ref: ./controllers/apiMethodsDefault/RegisterBoard.yml#/RegisterBoard
  /record/start:
    $ref: ./controllers/apiMethodsDefault/StartRecording.yml#/StartRecording
  /record/stop:
    $ref: ./controllers/apiMethodsDefault/StopRecording.yml#/StopRecording